<nb-tabset fullWidth>
    <nb-tab tabTitle="Add Subcategory">
        <nb-card>
            <nb-card-body>
                <form [formGroup]="subcatForm" (ngSubmit)="onSubmit()">
                    <div class="form-group">
                        <div class="full-name-inputs">
                            <input type="text" nbInput fullWidth placeholder="Subcategory Name" formControlName="name">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="full-name-inputs">
                            <nb-select placeholder="Category" fullWidth formControlName="category">
                                <nb-option value="{{cat.name}}" *ngFor='let cat of categories'>
                                    {{cat.name}}
                                </nb-option>
                            </nb-select>
                        </div>
                    </div>
                    <button nbButton outline status="primary" fullWidth>Add</button>
                </form>
            </nb-card-body>
        </nb-card>
    </nb-tab>
    <nb-tab tabTitle="List of Subcategories">
        <!-- <p>List of <strong>Subcaterories</strong>.</p> -->
        <nb-card size="small">
            <nb-list>
                <p>hi</p>
                <nb-list-item *ngFor="let sub of subcategories">
                    <nb-user [name]="sub.name" [title]="sub.category">
                    </nb-user>
                </nb-list-item>
            </nb-list>
        </nb-card>
    </nb-tab>
</nb-tabset>